
{% extends "M1MagAppBundle::layout_Magasinier.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}


<h3>Formulaire d'ajout</h3>

  

<div class="well">
  {{ form(form) }} 
  
  <br/>
  <a href="{{ path('add_categorie')}}">Ajouter une catégorie </a>

{% endblock %}