
{% extends 'M1MagAppBundle::Produit/base.html.twig' %}

{% block body %}

    <div id="all">

    <div id="content">
        <div class="container">



            <div class="col-md-3">
                <!-- *** CUSTOMER MENU ***
_________________________________________________________ -->
                <div class="panel panel-default sidebar-menu">

                    <div class="panel-heading">
                        <h3 class="panel-title">Menu Actuelle</h3>
                    </div>

                    <div class="panel-body">

                        <ul class="nav nav-pills nav-stacked">
                            <li class="active">
                                <a href="customer-orders.html"><i class="fa fa-list"></i> Mes Commandes</a>
                            </li>

                        </ul>
                    </div>

                </div>
                <!-- /.col-md-3 -->

                <!-- *** CUSTOMER MENU END *** -->
            </div>

            <div class="col-md-9" id="customer-orders">
                <div class="box">
                    <h1>My orders</h1>

                    <p class="lead">Your orders on one place.</p>
                    <p class="text-muted">If you have any questions, please feel free to <a href="contact.html">contact us</a>, our customer service center is working for you 24/7.</p>

                    <hr>

                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>

                            <tr>
                                <th>Date</th>
                                <th>Total</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for paniercommande in PaniersCommandes %}
                                {% for pcommande in paniercommande.PanierCommande   %}
                                    {% set prixtotalpanier =0 %}

                                    {% for commande in pcommande.Commandes   %}
                                        {% set prixtotalpanier = prixtotalpanier +((commande.quantite) * (commande.produit.prix)) %}

                                                {% endfor %}

                                    {% set color ='' %}
                                    {% set etat ='' %}

                                    {% if pcommande.Panier.etat=='validé'%}
                                        {% set color ='label label-info' %}
                                        {% set etat='En cour de traitement' %}

                                    {% elseif pcommande.Panier.etat=='non-traité'%}
                                        {% set color ='yellow' %}
                                        {% set etat='label label-danger' %}

                                    {% elseif pcommande.Panier.etat=='traité'%}
                                        {% set color ='label label-success ' %}

                                        {% set etat='Traité' %}

                                    {% endif %}

                            <tr>
                                <td>{{  pcommande.Panier.datehorairevalide.date }}</td>
                                <td>{{  prixtotalpanier }}</td>
                                <td><span class="label label-info">

                                        {{ etat }}

                                    </span>
                                </td>
                                <td><a href="{{ path('m1_mag_app_commandepage' ,{'id':pcommande.Panier.id}) }}" class="btn btn-primary btn-sm">View</a>
                                </td>
                            </tr>
                                {% endfor %}

                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->
    </div>
    <!-- /#content -->

{% endblock %}